
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutProject.cshtml";
    var ListProject = (List<Model.EF.Project>)ViewBag.DanhSachProject;
   
}
@section jsFooter{

    <script src="~/Asset/js/1.js"></script>
}

<div class="container">
    <div class="row tk_number_project">
        <div class="col-xs-3 godown">
            <h3 class="numberproject">Total number project: </h3>
            <h3 class="numberinter completed">Project Completed: </h3>
            <h3 class="numberinter processing">Project Processing:</h3>
        </div>
        <div class="col-xs-9 godown">
            <span class="total" data-total=@ListProject.Count()>@ListProject.Count()</span>
            <span class="completed" data-completed=@ViewBag.Completed>@ViewBag.Completed</span>
            <span class="processing" data-processing=@ViewBag.Processing>@ViewBag.Processing</span>
        </div>
    </div>

    
    <div class="row Project">
        
        <div class="col-sm-12">
           
            <h3 class="titleProject">List Project</h3>
            <div class="btn btn-outline-success">Add Project </div>
            <input type="text" class="form-control"  aria-describedby="helpId" placeholder="Seach Project">
            <table class="table">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Leader</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Status</th>
                        <th><i class="fa fa-bolt"></i></th>
                    </tr>
                </thead>
                <tbody>
                    @if(ListProject!=null)
                    {
                         foreach (var item in ListProject)
                        {
                            <tr>
                                <td scope="row"><a href="#" data-idproject="@item.ProjectID" class="linkProject">@item.ProjectName</a></td>
                                <td>@item.Leadername</td>
                                <td>@item.StartDate</td>
                                <td>@item.EndDate</td>
                                
                                <td>@ViewBag.StatusName[item.StatusID]</td>
                                <td><i class="fa fa-times-circle"></i>|	</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div> 
    <!-- end row project  -->
</div>



