
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutProject.cshtml";
    var ListProject = (List<Model.EF.Project>)ViewBag.DanhSachProject;
   
}
@section jsFooter{

    <script src="~/Asset/js/1.js"></script>
}

@*form thêm dữ liệu*@
<div class="dongthemproject">


    <fieldset class="form-group">
        <label for="formGroupExampleInput">Project Name</label>
        <input type="text" class="form-control projectnameadd" placeholder="Enter Project Name">
    </fieldset>


    <fieldset class="form-group">
        <label for="formGroupExampleInput2">Start Date</label>
        <input type="date" class="form-control startdateadd">
    </fieldset>



    <fieldset class="form-group">
        <label for="formGroupExampleInput3">End Date</label>
        <input type="date" class="form-control enddateadd">
    </fieldset>



    <span class="nutsaveadd btn btn-outline-success"><i class="fa fa-save"></i></span>
    <span class="nutcanceladd btn btn-outline-danger"><i class="fa fa-times"></i></span>
    <span class="thongbaoloi"></span>
</div>
@*kết thúc dòng thêm dữ liệu*@


<div class="container">
    <div class="row tk_number_project">
        <div class="col-xs-3 godown">
            <h3 class="numberproject">Total number project: </h3>
            <h3 class="numberinter completed">Project Completed: </h3>
            <h3 class="numberinter processing">Project Processing:</h3>
        </div>
        <div class="col-xs-9 godown">
            <span class="total" data-total=@ListProject.Count()>@ListProject.Count()</span>
            <span class="completed" data-completed=@ViewBag.Completed>@ViewBag.Completed</span>
            <span class="processing" data-processing=@ViewBag.Processing>@ViewBag.Processing</span>
        </div>
    </div>

    
    <div class="row Project">
        
        <div class="col-sm-12">
           
            <h3 class="titleProject">List Project</h3>
            <div class="btn btn-outline-success nutthemproject">Add Project </div>
            <input type="text" class="form-control"  aria-describedby="helpId" placeholder="Seach Project">
            <table class="table tddsproject">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Leader</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Status</th>
                        <th><i class="fa fa-bolt"></i></th>
                    </tr>
                </thead>
                <tbody class="danhsachproject">
                    @if(ListProject!=null)
                    {
                         foreach (var item in ListProject)
                        {
                            <tr>
                                <td scope="row"><a href="#" data-idproject="@item.ProjectID" class="linkProject">@item.ProjectName</a></td>
                                <td>@item.Leadername</td>
                                <td>@item.StartDate</td>
                                <td>@item.EndDate</td>
                                
                                <td>@ViewBag.StatusName[item.StatusID]</td>
                                <td><i class="fa fa-times-circle"></i>	</td>
                            </tr>
                        }
                    }

                  
                </tbody>
            </table>
          
        </div>
    </div> 
    <!-- end row project  -->


</div> @*end container project*@

    <div class="container DetailProject "> @*begin container DetailProject*@
         <i class="fa fa-chevron-up nutdilen"></i>
        <div class="nutBackDashboard btn btn-danger float-right">X</div>
        <div class="row mt-2">
            <div class="col-sm-12">
                <h3 class="projectName mb-2"></h3>
                <h4 class="teamLeader"></h4>
            </div>
        </div>

        <div class="row date mt-2">
            <div class="col-xs-6"><span class="startdate"></span></div>
            <div class="col-xs-6"><span class="enddate"></span></div>

        </div>

        <div class="row mt-2">
            <div class="col-sm-2">
                Member:
                <div class="nutAddMember col-sm-10"> <i class="fa fa-user-plus"></i></div>
            </div>

            <div class="col-sm-4">
                <table class="table memberlist">

                    <tbody class="lstmember">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            
        </div>
        <div class="feature_member">
            <h3>Feature Member </h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>Feature<i class="fa fa-plus-square "></i></th>
                        <th>Member</th>
                        <th>Duration</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="listfeaturemember">
                    
                    

                </tbody>
            </table>
        </div>

    </div> @*end container DetailProject*@




